In [15]:
import socket
import datetime as dt

1. In this scenario, you and your friend went to a restaurant. After the eating bill comes in the amount of 78.88, you need to split the bill among both of you after adding a 20% tip.  Write a program that displays how much each one needs to pay. Use a variable to store the total amount and tip amount.

In [21]:
print("Piyush Raisinghani, Laptop:{0}, Time:{1}".format(socket.gethostname(), dt.datetime.now()))
print("=========================================================================")

total = 78.88
tip = 0.20
total_after_tip = total + (total*tip)
print(total_after_tip/2)

Piyush Raisinghani, Laptop:Omen, Time:2022-05-27 20:12:36.455869
=========================================================================
47.327999999999996

2. Write a python program to create a multiplication table for the given number. 

Ask the user for the number to develop a multiplication table.  Based on the given number develop a table. 

1 X 2 = 2
2 X 2 = 4
… so on

In [22]:
print("Piyush Raisinghani, Laptop:{0}, Time:{1}".format(socket.gethostname(), dt.datetime.now()))
print("=========================================================================")

number = int(input("Enter a number"))
for i in range(1,11):
    print("{0} X {1} = {2}".format(number, i, number*i))

Piyush Raisinghani, Laptop:Omen, Time:2022-05-27 20:12:53.776595
=========================================================================
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

3. Accept two numbers from the user and display which one is smaller and which one is greater.

In [23]:
print("Piyush Raisinghani, Laptop:{0}, Time:{1}".format(socket.gethostname(), dt.datetime.now()))
print("=========================================================================")

a = int(input("Enter first number:"))
b = int(input("Enter second number:"))
print(a if a>b else b)

Piyush Raisinghani, Laptop:Omen, Time:2022-05-27 20:13:07.125195
=========================================================================
40

4. Write a python program that displays the grade for a given numeric score.  
The program should accept the Name and Numerical grade value. 
Use our course grade scheme. 
For example, if the given number is > 93 then it should say
Student  Name:  Name of the student, Numerical Grade: 95    Final Letter Grade:  A
so on.

In [26]:
print("Piyush Raisinghani, Laptop:{0}, Time:{1}".format(socket.gethostname(), dt.datetime.now()))
print("=========================================================================")

name = input("Enter student name:")
score = int(input("Enter student score:"))

if(score >= 93): print("Student Name: {0} Numerical Grade: {1} Final Letter Grade: A".format(name, score))
elif(score < 93 and score >= 90): print("Student Name: {0} Numerical Grade: {1} Final Letter Grade: A-".format(name, score))
elif(score < 90 and score >= 87): print("Student Name: {0} Numerical Grade: {1} Final Letter Grade: B+".format(name, score))
elif(score < 87 and score >= 83): print("Student Name: {0} Numerical Grade: {1} Final Letter Grade: B".format(name, score))
elif(score < 83 and score >= 80): print("Student Name: {0} Numerical Grade: {1} Final Letter Grade: B-".format(name, score))
elif(score < 80 and score >= 77): print("Student Name: {0} Numerical Grade: {1} Final Letter Grade: C+".format(name, score))
elif(score < 77 and score >= 73): print("Student Name: {0} Numerical Grade: {1} Final Letter Grade: C".format(name, score))
elif(score < 73 and score >= 70): print("Student Name: {0} Numerical Grade: {1} Final Letter Grade: C-".format(name, score))
else: print("Student Name: {0} Numerical Grade: {1} Final Letter Grade: F".format(name, score))

Piyush Raisinghani, Laptop:Omen, Time:2022-05-27 20:21:11.392760
=========================================================================
Student Name: Piyush Numerical Grade: 50 Final Letter Grade: F

5. To travel from Dallas to Tulsa takes 258 Miles.  Write a python code to convert miles to kilometers and calculate the round trip in kilometers.   The program should display both conversion of miles value and round trip value in kilometers.

In [28]:
print("Piyush Raisinghani, Laptop:{0}, Time:{1}".format(socket.gethostname(), dt.datetime.now()))
print("=========================================================================")

mile = 258
km = mile * 1.609344
print("Distance in KM: {0}, Round trip value in KM: {1}".format(km, km*2))

Piyush Raisinghani, Laptop:Omen, Time:2022-05-27 20:23:43.969065
=========================================================================
Distance in KM: 415.210752, Round trip value in KM: 830.421504

6. We have three string values. Write a python code to combine all three string values.
For example,  Word1=’Texas’,  Word2 =’USA’,  Word3=’Zipcode – 77580’ 
Display should be 
 “Texas, USA, Zipcode – 77580” .  Use any of the three words you can think of.

In [31]:
print("Piyush Raisinghani, Laptop:{0}, Time:{1}".format(socket.gethostname(), dt.datetime.now()))
print("=========================================================================")

word1 = 'Any'
word2 = 'Three'
word3 = 'Words'
print(word1, word2, word3, sep=',')

Piyush Raisinghani, Laptop:Omen, Time:2022-05-27 20:25:26.228145
=========================================================================
Any,Three,Words

In [7]:
word1, word2, word3 = input("separated by commas").strip().split(",")
print(word1, word2, word3, sep = ",")

hi, bye, Jan

7. Write a program to find the factors of a given  number and check whether the factor is even or odd

In [13]:
num = int(input("Enter any number:"))
print(" ".join([str(i) for i in range(1, num+1) if num%i == 0]))

1 5

In [36]:
print("Piyush Raisinghani, Laptop:{0}, Time:{1}".format(socket.gethostname(), dt.datetime.now()))
print("=========================================================================")

num = int(input("Enter any number:"))
for i in range(1, num+1):
    if(num % i == 0):
        print(i)
        print("Factor is even" if i % 2 == 0 else "Factor is odd")

Piyush Raisinghani, Laptop:Omen, Time:2022-05-27 20:30:38.944416
=========================================================================
1
Factor is odd
2
Factor is even
4
Factor is even
5
Factor is odd
10
Factor is even
20
Factor is even

8. Write a program that accepts a string and calculates the number of letters and digits
For example for String BUAN6340. 
It should display
Letter = 4
Digits = 4

In [46]:
print("Piyush Raisinghani, Laptop:{0}, Time:{1}".format(socket.gethostname(), dt.datetime.now()))
print("=========================================================================")

s = input("Enter the string:")
i = 0
j = 0
for c in s:
    if c.isnumeric(): i+=1
    else: j+=1
print("Letter = {0}\nDigits = {1}".format(j, i))

Piyush Raisinghani, Laptop:Omen, Time:2022-05-27 20:38:30.239440
=========================================================================
Letter = 4
Digits = 4

9. Print all prime numbers within 1000. Use For or while loop

In [17]:
print("Piyush Raisinghani, Laptop:{0}, Time:{1}".format(socket.gethostname(), dt.datetime.now()))
print("=========================================================================")

for num in range(2, 1001):
    for i in range(2, num):
        if(num%i == 0):
            break
    else:
        print(num, end =  ' ')

Piyush Raisinghani, Laptop:Omen, Time:2022-06-03 12:36:52.123114
=========================================================================
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251 257 263 269 271 277 281 283 293 307 311 313 317 331 337 347 349 353 359 367 373 379 383 389 397 401 409 419 421 431 433 439 443 449 457 461 463 467 479 487 491 499 503 509 521 523 541 547 557 563 569 571 577 587 593 599 601 607 613 617 619 631 641 643 647 653 659 661 673 677 683 691 701 709 719 727 733 739 743 751 757 761 769 773 787 797 809 811 821 823 827 829 839 853 857 859 863 877 881 883 887 907 911 919 929 937 941 947 953 967 971 977 983 991 997

10. Write a code that accepts a sequence of words as input and prints the words in a sequence after sorting them alphabetically.

In [62]:
print("Piyush Raisinghani, Laptop:{0}, Time:{1}".format(socket.gethostname(), dt.datetime.now()))
print("=========================================================================")

s = list(input("Enter a sentence").split(" "))
s.sort()
print(" ".join(s))

Piyush Raisinghani, Laptop:Omen, Time:2022-05-27 21:27:41.303021
=========================================================================
hello is python this world

11.	Write a python program to convert today’s Dallas Weather from Fahrenheit to Celsius
 
Print Dallas weather in F as well as in Celsius

In [66]:
print("Piyush Raisinghani, Laptop:{0}, Time:{1}".format(socket.gethostname(), dt.datetime.now()))
print("=========================================================================")

temp = int(input("Enter temperature"))
print("Dallas weather in F: {0}\nDallas weather in C: {1}".format(temp, (temp-32)*5/9))

Piyush Raisinghani, Laptop:Omen, Time:2022-05-27 21:34:13.242832
=========================================================================
Dallas weather in F: 30
Dallas weather in C: -1.1111111111111112

12.	Write a python code to sum all the numbers starting from 1 to 10
 Give the running total for whenever you are adding numbers. 
For example
Running Sum : 1 +2 = 3
Running Sum : 1 + 2+ 3 = 5 
So on…, until adding all 10 numbers

In [6]:
print("Piyush Raisinghani, Laptop:{0}, Time:{1}".format(socket.gethostname(), dt.datetime.now()))
print("=========================================================================")

i = 1
s = str(i)
for j in range(2, 11):
    s += "+" + str(j)
    print("Running Sum: {0} = {1}".format(s, i+j))
    i += j

Piyush Raisinghani, Laptop:Omen, Time:2022-05-28 22:35:32.698543
=========================================================================
Running Sum: 1+2 = 3
Running Sum: 1+2+3 = 6
Running Sum: 1+2+3+4 = 10
Running Sum: 1+2+3+4+5 = 15
Running Sum: 1+2+3+4+5+6 = 21
Running Sum: 1+2+3+4+5+6+7 = 28
Running Sum: 1+2+3+4+5+6+7+8 = 36
Running Sum: 1+2+3+4+5+6+7+8+9 = 45
Running Sum: 1+2+3+4+5+6+7+8+9+10 = 55

13.	Write a  python code to display the cube of the number up to 10. 
 For example: 
 1 power 3 = 1
 2 power 3 = 8
 3 power 3 = 27

In [7]:
print("Piyush Raisinghani, Laptop:{0}, Time:{1}".format(socket.gethostname(), dt.datetime.now()))
print("=========================================================================")

for i in range(1,11):
    print("{0} power 3 = {1}".format(i, i**3))

Piyush Raisinghani, Laptop:Omen, Time:2022-05-28 22:37:35.509088
=========================================================================
1 power 3 = 1
2 power 3 = 8
3 power 3 = 27
4 power 3 = 64
5 power 3 = 125
6 power 3 = 216
7 power 3 = 343
8 power 3 = 512
9 power 3 = 729
10 power 3 = 1000

14. Write a python code to separate each character from the given string. 
For example: if the string is given BUAN 6340
Then it should display as 
B  U  A N 6 3 4 0

In [17]:
print("Piyush Raisinghani, Laptop:{0}, Time:{1}".format(socket.gethostname(), dt.datetime.now()))
print("=========================================================================")

s = list(map(str, input("Enter a string").split()))
print(" ".join([j for i in s for j in i]))
# l = []
# for i in s:
#     if not i.isspace():
#         l.append(i)
# print(" ".join(l))

Piyush Raisinghani, Laptop:Omen, Time:2022-05-28 22:47:35.925408
=========================================================================
b u a n 1 9 2 8 3 7

In [26]:
s = input("Enter a string").split()
for i in s:
    for j in i:
        print(j, end = " ")

h e l l o w o r l d

15.	Find a string with maximum length from given two string inputs.
For example UT-DALLAS, UT-SAN-ANTONIA 
Then it should display as 
UT-SAN-ANTONIA

In [30]:
print("Piyush Raisinghani, Laptop:{0}, Time:{1}".format(socket.gethostname(), dt.datetime.now()))
print("=========================================================================")

c1 = input("Enter 1st string")
c2 = input("Enter 2nd string")
print(c1 if len(c1)>len(c2) else c2)

Piyush Raisinghani, Laptop:Omen, Time:2022-05-28 22:54:45.992106
=========================================================================
UT-SAN-ANTONIA