In [2]:
import socket
import datetime as dt

Exercise 1A: Create a string made of the first, middle and last character

In [3]:
print("Piyush Raisinghani, Laptop:{0}, Time:{1}".format(socket.gethostname(), dt.datetime.now()))
print("=========================================================================")

s = input("Input a string")
print(s[0],s[len(s)//2],s[-1], sep="")

Piyush Raisinghani, Laptop:Omen, Time:2022-05-28 23:10:57.001989
=========================================================================
hlo

Exercise 1B: Create a string made of the middle three characters

In [6]:
print("Piyush Raisinghani, Laptop:{0}, Time:{1}".format(socket.gethostname(), dt.datetime.now()))
print("=========================================================================")

s = input("Enter a string")
print(s[len(s)//2-1], s[len(s)//2], s[len(s)//2+1], sep="")

Piyush Raisinghani, Laptop:Omen, Time:2022-05-28 23:13:19.550022
=========================================================================
o w

Exercise 2: Append new string in the middle of a given string

In [16]:
print("Piyush Raisinghani, Laptop:{0}, Time:{1}".format(socket.gethostname(), dt.datetime.now()))
print("=========================================================================")

s1 = "Ault"
s2 = "Kelly"
print(s1[:len(s1)//2], s2, s1[len(s1)//2:], sep="")

Piyush Raisinghani, Laptop:Omen, Time:2022-05-29 00:14:25.912705
=========================================================================
AuKellylt

Exercise 3: Create a new string made of the first, middle, and last characters of each input string

In [19]:
print("Piyush Raisinghani, Laptop:{0}, Time:{1}".format(socket.gethostname(), dt.datetime.now()))
print("=========================================================================")

s1 = "America"
s2 = "Japan"
print(s1[0],s2[0],s1[len(s1)//2],s2[len(s2)//2],s1[-1],s2[-1], sep="")

Piyush Raisinghani, Laptop:Omen, Time:2022-05-29 00:16:15.298651
=========================================================================
AJrpan

Exercise 4: Arrange string characters such that lowercase letters should come first

In [20]:
print("Piyush Raisinghani, Laptop:{0}, Time:{1}".format(socket.gethostname(), dt.datetime.now()))
print("=========================================================================")

s1 = "PyNaTive"
s2 = ""
s3 = ""
for i in s1:
    if i.islower(): s2 += i
    else: s3 += i
print(s2+s3)

Piyush Raisinghani, Laptop:Omen, Time:2022-05-29 00:18:01.090787
=========================================================================
yaivePNT

Exercise 5: Count all letters, digits, and special symbols from a given string

In [21]:
print("Piyush Raisinghani, Laptop:{0}, Time:{1}".format(socket.gethostname(), dt.datetime.now()))
print("=========================================================================")

str1 = "P@#yn26at^&i5ve"
chars = 0; digits = 0; symbol = 0
for i in str1:
    if i.isalpha(): chars += 1
    elif i.isnumeric(): digits += 1
    else: symbol += 1
print("Total counts of chars, digits, and symbols\nChars = {0}\nDigits = {1}\nSymbol = {2}".format(chars, digits, symbol))

Piyush Raisinghani, Laptop:Omen, Time:2022-05-29 00:21:15.576686
=========================================================================
Total counts of chars, digits, and symbols
Chars = 8
Digits = 3
Symbol = 4

Exercise 6: Create a mixed String using the following rules

In [23]:
print("Piyush Raisinghani, Laptop:{0}, Time:{1}".format(socket.gethostname(), dt.datetime.now()))
print("=========================================================================")

s1 = "Abc"
s2 = "Xyz"
s2 = s2[::-1]
s3 = ""
l = len(s1) if len(s1)>len(s2) else len(s2)
for i in range(0, l):
    s3 += s1[i] + s2[i]
print(s3)

Piyush Raisinghani, Laptop:Omen, Time:2022-05-29 00:26:57.136971
=========================================================================
AzbycX

Exercise 7: String characters balance Test

In [25]:
print("Piyush Raisinghani, Laptop:{0}, Time:{1}".format(socket.gethostname(), dt.datetime.now()))
print("=========================================================================")

s1 = "Ynf"
s2 = "PYnative"

print("True" if s1 in s2 else "False")

Piyush Raisinghani, Laptop:Omen, Time:2022-05-29 00:31:05.830226
=========================================================================
False

Exercise 8: Find all occurrences of a substring in a given string by ignoring the case

In [34]:
print("Piyush Raisinghani, Laptop:{0}, Time:{1}".format(socket.gethostname(), dt.datetime.now()))
print("=========================================================================")

str1 = "Welcome to USA. usa awesome, isn't it?"
str1 = str1.lower()
print("The USA count is: {0}".format(str1.count('usa')))

Piyush Raisinghani, Laptop:Omen, Time:2022-05-29 00:39:10.644903
=========================================================================
The USA count is: 2

Exercise 9: Calculate the sum and average of the digits present in a string

In [41]:
print("Piyush Raisinghani, Laptop:{0}, Time:{1}".format(socket.gethostname(), dt.datetime.now()))
print("=========================================================================")

import math
str1 = "PYnative29@#8496"
l = []
for i in str1:
    if i.isnumeric():
        l.append(int(i))
print("Sum is: {0} Average is: {1}".format(sum(l), sum(l)/len(l)))

Piyush Raisinghani, Laptop:Omen, Time:2022-05-29 00:45:58.421350
=========================================================================
Sum is: 38 Average is: 6.333333333333333

Exercise 10: Write a program to count occurrences of all characters within a string

In [43]:
print("Piyush Raisinghani, Laptop:{0}, Time:{1}".format(socket.gethostname(), dt.datetime.now()))
print("=========================================================================")

str1 = "Apple"
d = dict()
for i in list(str1):
    d[i] = str1.count(i)
print(d)

Piyush Raisinghani, Laptop:Omen, Time:2022-05-29 00:49:39.784130
=========================================================================
{'A': 1, 'p': 2, 'l': 1, 'e': 1}

Exercise 11: Reverse a given string

In [44]:
print("Piyush Raisinghani, Laptop:{0}, Time:{1}".format(socket.gethostname(), dt.datetime.now()))
print("=========================================================================")

str1 = "PYnative"
print(str1[::-1])

Piyush Raisinghani, Laptop:Omen, Time:2022-05-29 00:50:16.181945
=========================================================================
evitanYP

Exercise 12: Find the last position of a given substring

In [45]:
print("Piyush Raisinghani, Laptop:{0}, Time:{1}".format(socket.gethostname(), dt.datetime.now()))
print("=========================================================================")

str1 = "Emma is a data scientist who knows Python. Emma works at google."
print("Last occurrence of Emma starts at index {0}".format(str1.rindex("Emma")))

Piyush Raisinghani, Laptop:Omen, Time:2022-05-29 00:51:23.095199
=========================================================================
Last occurrence of Emma starts at index 43

Exercise 13: Split a string on hyphens

In [55]:
print("Piyush Raisinghani, Laptop:{0}, Time:{1}".format(socket.gethostname(), dt.datetime.now()))
print("=========================================================================")

str1 = "Emma-is-a-data-scientist"
print(" ".join(str1.split("-")))

Piyush Raisinghani, Laptop:Omen, Time:2022-05-29 00:58:19.950724
=========================================================================
Emma is a data scientist

Exercise 14: Remove empty strings from a list of strings

In [59]:
print("Piyush Raisinghani, Laptop:{0}, Time:{1}".format(socket.gethostname(), dt.datetime.now()))
print("=========================================================================")

str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
for i in str_list:
    if i == "" or i is None:
        str_list.remove(i)
print(str_list)

Piyush Raisinghani, Laptop:Omen, Time:2022-05-29 01:00:44.791485
=========================================================================
['Emma', 'Jon', 'Kelly', 'Eric']

Exercise 15: Remove special symbols / punctuation from a string

In [64]:
print("Piyush Raisinghani, Laptop:{0}, Time:{1}".format(socket.gethostname(), dt.datetime.now()))
print("=========================================================================")

import string
str1 = "/*Jon is @developer & musician"
str2 = str1.translate(str.maketrans('', '', string.punctuation))
print(str2)

Piyush Raisinghani, Laptop:Omen, Time:2022-05-29 01:04:27.443329
=========================================================================
Jon is developer  musician

Exercise 16: Removal all characters from a string except integers

In [6]:
print("Piyush Raisinghani, Laptop:{0}, Time:{1}".format(socket.gethostname(), dt.datetime.now()))
print("=========================================================================")

str1 = 'I am 25 years and 10 months old'
print("".join([i for i in str1 if i.isnumeric()]))

Piyush Raisinghani, Laptop:Omen, Time:2022-05-29 18:42:09.849382
=========================================================================
2510

Exercise 17: Find words with both alphabets and numbers

In [12]:
print("Piyush Raisinghani, Laptop:{0}, Time:{1}".format(socket.gethostname(), dt.datetime.now()))
print("=========================================================================")

str1 = "Emma25 is Data scientist50 and AI Expert"
for i in str1.split():
    if any(j.isalpha() for j in i) and any(j.isnumeric() for j in i):
        print(i)

Piyush Raisinghani, Laptop:Omen, Time:2022-05-29 18:47:03.757422
=========================================================================
Emma25
scientist50

Exercise 18: Replace each special symbol with # in the following string

In [28]:
print("Piyush Raisinghani, Laptop:{0}, Time:{1}".format(socket.gethostname(), dt.datetime.now()))
print("=========================================================================")

import string
str1 = '/*Jon is @developer & musician!!'
for i in str1:
    if i in string.punctuation:
        str1 = str1.replace(i, "#")
print(str1)

Piyush Raisinghani, Laptop:Omen, Time:2022-05-29 18:57:39.571205
=========================================================================
##Jon is #developer # musician##